* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
.subtext,
.text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section-one {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 150px;
    background-color: #1f2937;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 10px;
}

.title {
    font-size: 49px;
    color: #f9faf8;
    font-weight: 900;
}

.button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 7px 25px;
    border: none;
}

.right-side {
    display: flex;
    background-color: rgb(124, 126, 128);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section-two {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px 100px;
    margin: 30px;
    margin-bottom: 70px;
}

.title-two {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.box {
    border: 3px solid rgb(25, 125, 212);
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.card .subtext {
    color: rgb(100, 99, 99);
    width: 150px;
    text-align: center;
    font-size: 16px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 230px;
    gap: 5px;
}

.quote {
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    font-size: 32px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 800;
}

.section-four {
    background-color: white;
    padding: 100px 150px;
}

.container {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    padding: 35px 75px;
    justify-content: space-between;
    gap: 20px;
}

.section-four .left-side {
    font-size: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.headline {
    font-weight: 800;
    color: white;
}

.section-four .button {
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    padding: 30px;
}

.copyright {
    font-size: 15px;
    color: #f9faf8;
    text-align: center;
}